*{
    margin: 0%;
    box-sizing: border-box;
}
.main-container{
    padding-bottom: 96px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.688);
}
.main_wrap{
    margin-left: 150px;
    margin-right: 150px;
}
.main_header{
    padding: 15px 0px;
    
}
.nav_layout{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.image{
    width: 250px;
    border: none;
}
.logo>a{
    border: none;
}

.nav_list{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1.5px solid rgb(161, 158, 158);
    margin-left: 8px;
    padding: 20px 0px;
}
.home{
    margin-left: 15px;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    padding-right: 20px;
    color: black;
    
}
.Trainigs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}
.image_arrow{
    width: 15px;
    rotate: -180deg;
    transition: all 0.5s;
}
.drop_menu{
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 250px;
    display: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.688);
    overflow: hidden;
    z-index: 1;
    background-color: white;
}
.drop_menu_link{
    display: block;
    padding: 10px 15px;
}
.drop_menu_link:hover{
    background-color: rgb(25, 165, 55);
}
.link:hover{
    color: rgb(25, 165, 55);
}
.heading{
    font-size: 1.2rem;
    font-weight: 200;
    padding: 10px 15px;
}
.Trainigs:hover .heading{
    color: rgb(25, 165, 55);
}
.Trainigs:hover .image_arrow{
    rotate: 0deg;
}
.Trainigs:hover .drop_menu{
    display: block;
    
}
/* start-section1-box */
.section_1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_box{
    width: 60%;
    padding: 6rem 0rem;
}
.content_box>h1{
    width: 20rem;
    color: rgb(25, 165, 55);
    font-size: 36px;
    line-height: 3.5rem;
}
.content_box>p{
    color: rgb(148, 151, 149);
    margin: 1rem 120px 0px 0px;
    font-size: 1rem;
    line-height: 1.8rem;
}
.image-box>img{
    width: 490px;
}
/* end-section1-box */

/* start-section2-box */
.section_2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.content_box{
    width: 60%;
    padding: 6rem 0rem;
}
.content_box>h1{
    width: 25rem;
    color: rgb(25, 165, 55);
    font-size: 36px;
    line-height: 3.5rem;
}
.content_box>p{
    color: rgb(148, 151, 149);
    margin: 1rem 70px 0px 0px;
    font-size: 1rem;
    line-height: 1.8rem;
}
.image-box>img{
    width: 490px;
}
/* section3-start  */

.main-content{
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image2{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100px;
}
.image3{
    width: 200px;
    height: 200px;
}
.under-line{
    margin-top: 30px;
    background-color: rgb(82, 114, 188);
    width: 60px;
    height: 5.5px;
    border-radius: 3.5px;
}
.main-content>h1{
    margin-top: 30px;
    color: rgb(25, 165, 55);
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
}
.para2{
    font-size: 20px;
    color: rgb(121, 122, 123);
    padding: 10px 0px;
}
.para3{
    color: rgba(103, 100, 100, 0.718);
    margin-top: 20px;
    text-align: center;
    padding-inline: 31rem;
    line-height: 1.8rem;
}
.section4{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.688);
}
.section_4_content{
    padding: 96px 20px;
    margin: 0px 40px;
}
.section_4_para{
    color: rgb(25, 165, 55);
    padding: 96px 20px;
    font-size: 50px;
    text-align: center;
}
.card_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 40px;
}
.card{
    padding: 20px;
    width: 400px;
    margin: 20px;
    border-radius: 12px;
    transition: 0.6s;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.858);
    transform: scale(1.06);
}
.card>img{
    width: 360px;
    height: 224px;
    border-radius: 10px;
}
.card_para{
    margin-top: 16px;
    font-size: 25px;
    text-align: center;
}
.section_5{
    padding: 16px 0px;  
}
.wrap{
    margin: 0px 100px;
}
.section_5_heading{
    font-size: 70px;
    color: rgb(25, 165, 55);
    padding: 80px 0px;
    text-align: center;
}
.group_image{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.image_left_box{
    width: 50%;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.image_right_box{
    width: 50%;
    height: 100%;
}
.top_box{
    width: 100%;
    height: 40%;
    display: flex;
    gap: 20px;
}
.image1{
    width: 50%;
    height: 100%;
    background-image: url(image/image1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image22{
    width: 50%;
    height: 100%;
    background-image: url(image/image2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bottom_box{
    width: 100%;
    height: 60%;
}
.image3{
    width: 100%;
    height: 100%;
    background-image: url(image/image4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image_right_box{
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    height: 100%;
    gap: 20px;
}
.image4{
    width: 50%;
    height: 100%;
    background-image: url(image/image5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image5{
    width: 50%;
    height: 100%;
    background-image: url(image/image6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image6{
    width: 100%;
    height: 100%;
    background-image: url(image/image3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.section6_wrap{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 96px 0px;
}
.form6{
    border-radius: 10px;
    width: 600px;
    margin: 0px auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.45);
}
.label{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(92, 89, 89);
}
.sup{
    color: red;
}
input::placeholder{
    font-size: 16px;
}
.input{
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}
.input_msg{
    border: 1px solid gray;
    margin-top: 10px;
    height: 160px;
    border-radius: 5px;
}
button{
    background-color: rgb(11, 74, 11);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 15px 0px;
    border: none;
    border-radius: 5px;
}

@media (max-width:1300px) {
    .main_header{
        padding: 0px 0px;
    }
    .nav_layout{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;  
    }
    .image{
        width: 300px; 
    }
    .nav_list{
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: none; 
        padding: 0px 0px;
    }
    .home{
        margin-left: 15px;
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
        display: inline-block;
        padding: 12px 15px;
        color: black; 
    }
    .Trainigs{
        margin-left: 15px;
        cursor: pointer;
    }
    .heading{
        font-size: 1.2rem;
        font-weight: 200;
        padding: 12px 15px;
        color: black;
    }
    .image_arrow{
        width: 15px;
    }
    .section_1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .content_box{
        width: 100%;
        padding: 4rem 0rem;
    }
    .content_box>h1{
        width: 100%;
        color: rgb(25, 165, 55);
        font-size: 36px;
        line-height: 3.5rem;
        text-align: center;
    }
    .content_box>p{
        color: rgb(148, 151, 149);
        margin: 0rem 0px 0px 0px;
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 16px;
    }
    .image-box>img{
        width: 500px;
    }
    .section_2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .content_box{
        width: 100%;
        padding: 4rem 0rem;
    }
    .content_box>h1{
        width: 100%;
        color: rgb(25, 165, 55);
        font-size: 36px;
        line-height: 3.5rem;
        text-align: center;
    }
    .content_box>p{
        color: rgb(148, 151, 149);
        margin: 0rem 0px 0px 0px;
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 16px;
    }
    .image-box>img{
        width: 500px;
    }
    .main-content{
        padding: 96px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .para3{
        color: rgba(103, 100, 100, 0.718);
        margin-top: 18px;
        text-align: center;
        padding-inline: 2rem;
        line-height: 1.8rem;
    }  
}

@media (max-width:700px) {
    .main_wrap{
        margin-left: 0px;
        margin-right: 0px;
    }
    .main_header{
        padding: 0px 0px;
    }
    .nav_layout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .image{
        width: 200px; 
    }
    .nav_list{
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: none;
        padding: 0px 0px;
        flex-wrap: wrap;
    }
    .home{
        margin-left: 0px;
    }
    a{
        text-decoration: none;
        font-size: 1rem;
        display: inline-block;
        padding: 10px 10px;
        color: black;  
    }
    .Trainigs{
        
        margin-left: 0px;
        cursor: pointer;
    }
    .heading{
        font-size: 1rem;
        font-weight: 200;
        padding: 10px 10px;
        color: black;
    }
    .image_arrow{
        width: 10px; 
    }
    .drop_menu{
        min-width: 195px; 
    }
    .drop_menu_link{
        
        padding: 10px 5px;
    }
    .section_1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    .content_box{
        width: 100%;
        padding: 3rem 0rem;
    }
    .content_box>h1{
        width: 100%;
        color: rgb(25, 165, 55);
        font-size: 2rem;
        text-align: center;
    }
    .content_box>p{
        color: rgb(148, 151, 149);
        margin: 0rem 0px 0px 0px;
        padding-inline: 20px;
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 16px;
    }
    .image-box>img{
        width: 100%;
    }
    .section_2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    .content_box{
        width: 100%;
        padding: 2rem 0rem;
    }
    .content_box>h1{
        width: 100%;
        color: rgb(25, 165, 55);
        font-size: 2rem;
        text-align: center;
    }
    .content_box>p{
        color: rgb(148, 151, 149);
        margin: 0rem 0px 0px 0px;
        padding-inline: 20px;
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 16px;
    }
    .image-box>img{
        width: 100%;
    }
    .main-content{
        padding: 96px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-content>h1{
        margin-top: 40px;
        color: rgb(25, 165, 55);
        font-size: 2.3rem;
        letter-spacing: 3px;
    }
    .para2{
        font-size: 20px;
        color: rgb(121, 122, 123);
        padding: 20px 0px;
    }
    .para3{
        color: rgba(103, 100, 100, 0.718);
        margin-top: 18px;
        text-align: center;
        padding-inline: 1rem;
        line-height: 1.8rem;
    }
    .section_4_content{

        padding: 96px 0px ;
        margin: 0px 0px;
    }
    .section_4_para{
        color: rgb(25, 165, 55);
        padding: 0px 20px;
        font-size: 40px;
        text-align: center;
    }
    .card_section{
        margin: 0px 0px;
    }
    .card{

        width: 100%;
        margin: 30px 50px;
    }
    .card:hover{
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.858);
        transform: scale(1.06);
    }
    .card>img{
        width: 100%;
        height: 224px;
        border-radius: 10px;
    }
    .section_5_heading{
        font-size: 36px;
        color: rgb(25, 165, 55);
        padding: 80px 2px;
        text-align: center;
        line-height: 50px;
    }
    .section_5{
        width: 100%;
        padding: 16px 0px;
         
    }
    .wrap{
        margin: 0px 0px;
    }
    .group_image{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .image_left_box{
        gap: 10px;
    }
    .top_box{
        gap: 10px;
    }
    .image_right_box{
        gap: 10px;
    }
    .form6{
        border-radius: 10px;
        width: 100%;
        margin: 0px auto;
        padding: 32px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.45);
    }
}

